In [7]:
# DEPENDENCIES 
import requests
import json
import pandas as pd
from pprint import pprint

# IMPORT YELP API KEY 
from config import yelp_api_key

In [8]:
# Import second dataframe 
lazips_df = pd.read_csv("lazips.csv")
lazips_df.head()

   ZIP Code   Postal City 1                                 Location
0     90713        Lakewood   33.84871142900005, -118.11357922799999
1     91306        Winnetka  34.208404020000046, -118.57593995299999
2     90002     Los Angeles   33.94895070600006, -118.24697958699994
3     90506        Torrance   33.88535286100006, -118.32659746799999
4     90069  West Hollywood   34.08940300900008, -118.37978902499998

In [9]:
# YELP API SEARCH URL CONSTANTS
business_search = 'https://api.yelp.com/v3/businesses/search'
base_url = 'https://api.yelp.com'
search_path = '/v3/businesses/search'
auto_complete = 'https://api.yelp.com/v3/autocomplete'
business_url = 'https://api.yelp.com/v3/businesses/{}'
business_match = 'https://api.yelp.com/v3/businesses/matches'
business_reviews = 'https://api.yelp.com/v3/businesses/{}/reviews'
business_search = 'https://api.yelp.com/v3/businesses/search'

In [10]:
# YELP API SEARCH VARIABLES
search_term = 'yoga'
default_location = 'Los Angeles, CA'
search_limit = 50

In [11]:
def getbusiness_reviews(offset):
    headers = {'Authorization': f'Bearer {yelp_api_key}'}
    business_search = f'https://api.yelp.com/v3/businesses/search'
#     print(business_search)

    params = {'categories': "yoga",
              'location': "los angeles, ca",
              'limit':50,
              'offset':offset
        
    }
    
    
    
    
    response = requests.request('GET', business_search, headers=headers, params=params)
#     print(response.headers)
    return response.json()

In [12]:
results = getbusiness_reviews(250)

In [13]:
len(results['businesses'])

50

In [14]:
import time

In [15]:
results = []
for i in range(0, 1000, 50): 
    try:
        tempresults = getbusiness_reviews(i)
        tempresults = tempresults['businesses']
        results = results + tempresults
        time.sleep(1)
        print(f"getting the results starting at {i}")
    except:
        continue

getting the results starting at 0
getting the results starting at 50
getting the results starting at 100
getting the results starting at 150
getting the results starting at 200
getting the results starting at 250
getting the results starting at 300
getting the results starting at 350
getting the results starting at 400
getting the results starting at 450
getting the results starting at 500
getting the results starting at 550
getting the results starting at 600
getting the results starting at 650
getting the results starting at 700
getting the results starting at 750
getting the results starting at 800
getting the results starting at 850
getting the results starting at 900
getting the results starting at 950

In [16]:
len(results)

472

In [17]:
# Create list comprehension using a for loop
yoga_zips = [results[i]['location']['zip_code']
             for i in range(len(results))]

In [18]:
pprint(results[1])

{'alias': 'modo-yoga-la-la-brea-los-angeles',
 'categories': [{'alias': 'yoga', 'title': 'Yoga'}],
 'coordinates': {'latitude': 34.0677327, 'longitude': -118.3436658},
 'display_phone': '(323) 938-5000',
 'distance': 2163.4563722090793,
 'id': 'aX0lHtz12C56HSot4zDCLg',
 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/CdnFDbLKgPLpkhaSrJPMeA/o.jpg',
 'is_closed': False,
 'location': {'address1': '340 S La Brea Ave',
              'address2': None,
              'address3': '',
              'city': 'Los Angeles',
              'country': 'US',
              'display_address': ['340 S La Brea Ave', 'Los Angeles, CA 90036'],
              'state': 'CA',
              'zip_code': '90036'},
 'name': 'Modo Yoga LA - La Brea',
 'phone': '+13239385000',
 'rating': 4.5,
 'review_count': 385,
 'transactions': [],
 'url': 'https://www.yelp.com/biz/modo-yoga-la-la-brea-los-angeles?adjust_creative=05PGBhyUj3bw2wGlHd6Yvw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=05PGBhyUj3bw2wGlHd6Yvw'}

In [19]:
name_zips = [results[i]['name']
             for i in range(len(results))]

In [20]:
import pandas as pd

In [21]:
yoga_complete = pd.DataFrame({'ZIP Code': yoga_zips,
              'Yoga Studio': name_zips
             })

yoga_complete = yoga_complete[["ZIP Code", "Yoga Studio"]]

yoga_complete.to_csv("yoga_data.csv", index=False)

In [22]:
yoga_complete.head()

  ZIP Code             Yoga Studio
0    90028            Set and Flow
1    90036  Modo Yoga LA - La Brea
2    90034        Red Diamond Yoga
3    90029            One Down Dog
4    90019         Liberation Yoga