In [4]:
# Import Dependencies
import numpy as np
import pandas as pd
from scipy import stats
import pathlib
from matplotlib import pyplot as plt
import gmaps
from configure import gkey


gmaps.configure(api_key=gkey)

In [5]:
#Load Output income data to generate graphs
csv_path = pathlib.Path("Output_income_data.csv")

income_city_df = pd.read_csv(csv_path)

income_city_df.dropna()

,Census Tract,Neighborhood,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,101110,Tujunga,34.259555,-118.293602,4314.0,40.6,53077.0,26996.0,679.0,15.74,3.85
1,101122,Tujunga,34.267357,-118.290240,3239.0,52.3,88953.0,46974.0,109.0,3.37,2.90
2,101210,Tujunga,34.251998,-118.292687,6052.0,36.6,32119.0,19902.0,1994.0,32.95,5.30
3,101220,Tujunga,34.251190,-118.281014,3497.0,39.7,41728.0,21844.0,524.0,14.98,3.77
4,101300,Tujunga,34.245595,-118.271731,4297.0,49.7,86914.0,35120.0,391.0,9.10,2.91
...,...,...,...,...,...,...,...,...,...,...,...
2317,980031,San Pedro,33.737510,-118.261426,1113.0,44.1,64500.0,9765.0,0.0,0.00,0.00
2318,124700,Sherman Oaks,34.162467,-118.413865,5697.0,40.2,90795.0,55921.0,286.0,5.02,1.30
2319,503801,La Mirada,33.899103,-117.993649,3847.0,36.9,93398.0,29261.0,381.0,9.90,4.55
2320,573902,Long Beach,33.811974,-118.078653,1979.0,49.9,126250.0,61849.0,41.0,2.07,0.71
2321,576602,Long Beach,33.765980,-118.170779,4369.0,37.5,65192.0,48098.0,789.0,18.06,2.24

In [17]:
#List neighborhoods by income in the lower quartile
lower_percentile=income_city_df[income_city_df["Household Income"]<income_city_df["Household Income"].quantile(0.25)] 

lower_percentile

,Census Tract,Neighborhood,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
2,101210,Tujunga,34.251998,-118.292687,6052.0,36.6,32119.0,19902.0,1994.0,32.95,5.30
3,101220,Tujunga,34.251190,-118.281014,3497.0,39.7,41728.0,21844.0,524.0,14.98,3.77
30,104701,Pacoima,34.268476,-118.415216,4325.0,26.1,32036.0,10106.0,1445.0,33.41,5.16
31,104703,Pacoima,34.255116,-118.399872,2311.0,28.6,39181.0,15544.0,721.0,31.20,3.25
45,106407,Sylmar,34.310577,-118.436550,3272.0,30.7,37452.0,17080.0,723.0,22.10,2.29
...,...,...,...,...,...,...,...,...,...,...,...
2220,910502,Palmdale,34.580030,-118.100810,4439.0,27.0,34150.0,11290.0,1627.0,36.65,2.95
2221,910504,Palmdale,34.568302,-118.105125,4750.0,26.7,42801.0,13940.0,1604.0,33.77,3.79
2223,910601,Palmdale,34.583610,-118.076306,6843.0,27.8,38731.0,12491.0,1627.0,23.78,6.69
2224,910602,Palmdale,34.576456,-118.080694,4322.0,29.4,38170.0,16077.0,1346.0,31.14,6.39
2225,910603,Palmdale,34.565435,-118.085059,6713.0,37.5,43767.0,18314.0,1483.0,22.09,2.76

In [18]:
#List neighborhoods by income in the 2rd quartile
low_middle_percentile=income_city_df[(income_city_df["Household Income"]>income_city_df["Household Income"].quantile(0.25)) & (income_city_df["Household Income"]<income_city_df["Household Income"].quantile(0.5))]
low_middle_percentile

,Census Tract,Neighborhood,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,101110,Tujunga,34.259555,-118.293602,4314.0,40.6,53077.0,26996.0,679.0,15.74,3.85
8,102105,Sun Valley,34.210852,-118.348050,1857.0,40.7,52132.0,24355.0,322.0,17.34,5.33
16,104105,Pacoima,34.276146,-118.404645,6190.0,34.1,52616.0,21302.0,1402.0,22.65,4.26
17,104108,Pacoima,34.271671,-118.397614,5420.0,33.3,50259.0,18405.0,856.0,15.79,4.26
19,104201,Pacoima,34.286741,-118.416081,4424.0,33.4,51563.0,14851.0,1075.0,24.30,2.85
...,...,...,...,...,...,...,...,...,...,...,...
2268,920038,Santa Clarita,34.424880,-118.447210,4299.0,33.0,53100.0,23443.0,784.0,18.24,4.37
2303,920336,Santa Clarita,34.385239,-118.534828,6554.0,27.3,47614.0,15561.0,1705.0,26.01,3.54
2304,920337,Santa Clarita,34.373884,-118.514546,7330.0,28.8,61369.0,21876.0,1643.0,22.41,4.32
2308,930200,Tujunga Canyons,34.340966,-118.294994,419.0,47.4,56979.0,39172.0,152.0,36.28,5.73
2313,980015,Wilmington,33.778611,-118.295234,556.0,31.7,54167.0,34087.0,108.0,19.42,6.83

In [19]:
#List neibhorhoods by income in the 3rd qurtile
upper_middle_percentile=income_city_df[(income_city_df["Household Income"]>income_city_df["Household Income"].quantile(0.50)) & (income_city_df["Household Income"]<income_city_df["Household Income"].quantile(0.75))] 
upper_middle_percentile

,Census Tract,Neighborhood,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
5,101400,Tujunga,34.244255,-118.296428,3851.0,44.4,71125.0,34799.0,321.0,8.34,3.90
6,102103,Shadow Hills,34.224155,-118.354339,1771.0,45.8,76333.0,37500.0,156.0,8.81,4.69
7,102104,Shadow Hills,34.216189,-118.345624,3554.0,41.1,70754.0,34131.0,423.0,11.90,5.26
11,103102,Sunland,34.262834,-118.306830,4456.0,44.1,74631.0,32143.0,245.0,5.50,3.82
12,103200,Lake View Terrace,34.274557,-118.343902,6726.0,46.0,71346.0,32375.0,994.0,14.78,1.34
...,...,...,...,...,...,...,...,...,...,...,...
2292,920312,Santa Clarita,34.357038,-118.529646,4966.0,43.0,81053.0,46791.0,333.0,6.71,3.26
2302,920334,Santa Clarita,34.387251,-118.559442,6187.0,40.4,79661.0,37909.0,562.0,9.08,3.64
2309,930301,Angeles Crest,34.294753,-117.913563,795.0,45.1,75313.0,25714.0,102.0,12.83,0.00
2317,980031,San Pedro,33.737510,-118.261426,1113.0,44.1,64500.0,9765.0,0.0,0.00,0.00
2321,576602,Long Beach,33.765980,-118.170779,4369.0,37.5,65192.0,48098.0,789.0,18.06,2.24

In [20]:
#List neighborhoods by income the upper quartile
upper_percentile=income_city_df[income_city_df["Household Income"]>income_city_df["Household Income"].quantile(0.75)] 
upper_percentile

,Census Tract,Neighborhood,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
1,101122,Tujunga,34.267357,-118.290240,3239.0,52.3,88953.0,46974.0,109.0,3.37,2.90
4,101300,Tujunga,34.245595,-118.271731,4297.0,49.7,86914.0,35120.0,391.0,9.10,2.91
9,102107,Shadow Hills,34.241295,-118.329271,4333.0,44.8,106037.0,36130.0,332.0,7.66,3.16
10,103101,Sunland,34.274431,-118.307140,2597.0,46.5,89211.0,35961.0,183.0,7.05,3.50
13,103300,Shadow Hills,34.255439,-118.352778,3549.0,49.4,93207.0,48386.0,173.0,4.87,1.92
...,...,...,...,...,...,...,...,...,...,...,...
2314,980019,Pacific Palisades,34.089172,-118.551873,151.0,56.4,226500.0,102044.0,6.0,3.97,5.30
2315,980024,Sepulveda Basin,34.173325,-118.493015,264.0,37.6,124038.0,43613.0,8.0,3.03,1.89
2318,124700,Sherman Oaks,34.162467,-118.413865,5697.0,40.2,90795.0,55921.0,286.0,5.02,1.30
2319,503801,La Mirada,33.899103,-117.993649,3847.0,36.9,93398.0,29261.0,381.0,9.90,4.55
2320,573902,Long Beach,33.811974,-118.078653,1979.0,49.9,126250.0,61849.0,41.0,2.07,0.71

In [10]:
#Display in gmaps the income distribution in Los Angeles County
low_locations = lower_percentile[["Latitude", "Longitude"]]
low_middle_locations=low_middle_percentile[["Latitude", "Longitude"]]
upper_middle_locations=upper_middle_percentile[["Latitude", "Longitude"]]
upper_locations=upper_percentile[["Latitude", "Longitude"]]


fig = gmaps.figure()

low_layer = gmaps.symbol_layer(low_locations,fill_color='red', stroke_color='red')
low_middle_layer=gmaps.symbol_layer(low_middle_locations,fill_color='yellow', stroke_color='yellow')
upper_middle_layer=gmaps.symbol_layer(upper_middle_locations,fill_color='blue', stroke_color='blue')
upper_layer=gmaps.symbol_layer(upper_locations,fill_color='green', stroke_color='green')

fig.add_layer(low_layer)
fig.add_layer(low_middle_layer)
fig.add_layer(upper_middle_layer)
fig.add_layer(upper_layer)
fig

Figure(layout=FigureLayout(height='420px'))