In [17]:
pwd

'/Users/bryan/usc-la-data-pt-03-2020-u-c/unit_7_project_1_week_1'

In [18]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [19]:
searchterms_df = pd.read_csv("ZIP_Codes_and_Postal_Cities.csv")
searchterms_df.head()

,ZIP Code,Postal City 1,Postal City 2,Postal City 3,Not Acceptable 1,Not Acceptable 2,Not Acceptable 3,Location
0,90713,Lakewood,NaN,NaN,NaN,NaN,NaN,"90713(33.84871142900005, -118.11357922799999)"
1,91306,Winnetka,NaN,NaN,NaN,NaN,NaN,"91306(34.208404020000046, -118.57593995299999)"
2,90002,Los Angeles,NaN,NaN,NaN,NaN,NaN,"90002(33.94895070600006, -118.24697958699994)"
3,90506,Torrance,NaN,NaN,NaN,NaN,NaN,"90506(33.88535286100006, -118.32659746799999)"
4,90069,West Hollywood,Los Angeles,NaN,NaN,NaN,NaN,"90069(34.08940300900008, -118.37978902499998)"

In [20]:
searchterms_df = searchterms_df[[
                        "ZIP Code", 
                        "Postal City 1", 
                        "Location"
                    ]]

In [21]:
# set up additional columns to hold information
searchterms_df['Starbucks Count'] = ""
searchterms_df.head()

,ZIP Code,Postal City 1,Location,Starbucks Count
0,90713,Lakewood,"90713(33.84871142900005, -118.11357922799999)",
1,91306,Winnetka,"91306(34.208404020000046, -118.57593995299999)",
2,90002,Los Angeles,"90002(33.94895070600006, -118.24697958699994)",
3,90506,Torrance,"90506(33.88535286100006, -118.32659746799999)",
4,90069,West Hollywood,"90069(34.08940300900008, -118.37978902499998)",

In [22]:
# Write a function that cleans the rows of the location 
def clean(pin):
#     print(pin)
    pin = pin[6:-1]
#     print(pin)
    return pin

In [23]:
searchterms_df['Location']

0       90713(33.84871142900005, -118.11357922799999)
1      91306(34.208404020000046, -118.57593995299999)
2       90002(33.94895070600006, -118.24697958699994)
3       90506(33.88535286100006, -118.32659746799999)
4       90069(34.08940300900008, -118.37978902499998)
                            ...
365         90011(34.007903741000064, -118.259036977)
366     90247(33.89189209400007, -118.29849831699994)
367    90601(33.995472680000034, -118.04046581999995)
368     90630(33.82014301800007, -118.03980972399995)
369    91759(34.237141886000074, -117.65801843599996)
Name: Location, Length: 370, dtype: object

In [24]:
searchterms_df['Location'] = searchterms_df['Location'].apply(clean)

In [25]:
assert clean("90713(33.84871142900005, -118.11357922799999)") == "33.84871142900005, -118.11357922799999"

In [26]:
searchterms_df.head()

,ZIP Code,Postal City 1,Location,Starbucks Count
0,90713,Lakewood,"33.84871142900005, -118.11357922799999",
1,91306,Winnetka,"34.208404020000046, -118.57593995299999",
2,90002,Los Angeles,"33.94895070600006, -118.24697958699994",
3,90506,Torrance,"33.88535286100006, -118.32659746799999",
4,90069,West Hollywood,"34.08940300900008, -118.37978902499998",

In [32]:
la_zipcodes = searchterms_df
la_zipcodes

,ZIP Code,Postal City 1,Location,Starbucks Count
0,90713,Lakewood,"33.84871142900005, -118.11357922799999",
1,91306,Winnetka,"34.208404020000046, -118.57593995299999",
2,90002,Los Angeles,"33.94895070600006, -118.24697958699994",
3,90506,Torrance,"33.88535286100006, -118.32659746799999",
4,90069,West Hollywood,"34.08940300900008, -118.37978902499998",
...,...,...,...,...
365,90011,Los Angeles,"34.007903741000064, -118.259036977",
366,90247,Gardena,"33.89189209400007, -118.29849831699994",
367,90601,Whittier,"33.995472680000034, -118.04046581999995",
368,90630,Cypress,"33.82014301800007, -118.03980972399995",
369,91759,Mt Baldy,"34.237141886000074, -117.65801843599996",

In [33]:
lacounty_zipcodes = la_zipcodes

In [34]:
lacounty_zipcodes.to_csv("lazips.csv", index=False)

In [909]:
storeloc_df = pd.read_csv("store_data.csv")
storeloc_df.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [910]:
starbucks_df = storeloc_df.loc[storeloc_df['Country'] == 'US']

In [911]:
starbucks_df.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
11964,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21
11965,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14
11966,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11
11967,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13
11968,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14

In [912]:
def cleanzips(postcode):
    postcode = str(postcode)
    postcode = postcode[0:5]
    return postcode

In [913]:
cleanzips('99515')

'99515'

In [914]:
assert cleanzips("995042300") == "99504"
starbucks_df['Postcode']

11964    995042300
11965    995073444
11966    995153596
11967        99515
11968    995152050
           ...
25567    820723012
25568    820705141
25569        82070
25570    829015751
25571    828016213
Name: Postcode, Length: 13608, dtype: object

In [915]:
starbucks_df['ZIP Code'] = starbucks_df['Postcode'].apply(cleanzips)

/Users/bryan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [916]:
starbucks_df = starbucks_df.set_index(keys='ZIP Code')

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
ZIP Code,,,,,,,,,,,,,
99504,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21
99507,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14
99515,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11
99515,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13
99515,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82072,Starbucks,74385-87621,Safeway-Laramie #2466,Licensed,554 N 3rd St,Laramie,WY,US,820723012,307-721-5107,GMT-07:00 America/Denver,-105.59,41.32
82070,Starbucks,73320-24375,Ridley's - Laramie #1131,Licensed,3112 E. Grand,Laramie,WY,US,820705141,307-742-8146,GMT-07:00 America/Denver,-105.56,41.31
82070,Starbucks,22425-219024,Laramie - Grand & 30th,Company Owned,3021 Grand Ave,Laramie,WY,US,82070,307-742-3262,GMT-07:00 America/Denver,-105.56,41.31
82901,Starbucks,10849-103163,I-80 & Dewar Dr-Rock Springs,Company Owned,118 Westland Way,Rock Springs,WY,US,829015751,307-362-7145,GMT-07:00 America/Denver,-109.25,41.58
82801,Starbucks,10769-102454,Coffeen & Brundage Lane-Sheridan,Company Owned,2208 Coffeen Ave,Sheridian,WY,US,828016213,307-672-5129,GMT-07:00 America/Denver,-106.94,44.77

In [937]:
len(starbucks_df)

13608

In [944]:
starbucks_df.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
ZIP Code,,,,,,,,,,,,,
99504,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21
99507,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14
99515,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11
99515,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13
99515,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14

In [963]:
la_zipcodes.dtypes

Postal City 1      object
Location           object
Starbucks Count    object
dtype: object

In [964]:
import pandas as pd